           
{% extends 'base.html.twig' %}

{% block title %}Lien d'enregistrement{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}

    <div class="main-wrapper">

    <h1 class="titre">Inscription</h1>

        <p class="texte">
        Générez un token d'inscription qui sera envoyé par email,
         assurant une procédure d'enregistrement sécurisée pour l’ensemble
         des collaborateurs.
        </p>
        <div class="input-wrapper">
                <h2 class="sous-titre-modal">Token d'enregistrement</h2>
                <input type="text" name="ajaxInp" id="ajaxInp"> 

            <div class="button-wrapper">
                <a class="btn btn-modal" id="lien" href="{{path("app_admin")}}">Retour</a>
                <button class="btn btn-modal" id="request-btn">Générer</button>
                <a class="btn btn-modal-primary" style="display: none" id="mail-modal" href="#">Mail</a>
                {# {{path('app_mail')}} #}
            </div>
        </div>

    </div>

    <div class="modal--wrapper modal--wrapper__nodisplay ">
        <div class="modal">

            <h2 class="sous-titre-modal">Envoyer le lien de connexion</h2>
            <div class="form__container">
           
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="mail-input-wrapper">
                        {{ form_label(form.email)}}
                        {{form_widget(form.email, {'attr' : {'placeholder' : 'email@email.com'}})}}
                    </div>
            
                    <div class="button--container">
                        <button type="button" id="return" class="btn btn-modal">Retour</button>
                        {{form_row(form.submit, {'attr' : {'class': 'btn btn-modal-primary'}})}}
                    </div>

                {{form_end(form)}}
            
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}


{% block script %}

    <script>
        //======================
        //Définition Requête HTTP
        //======================
    
        let lien = document.querySelector('#lien')
        let linkInput = document.querySelector('#form_link')
        let requestBtn = document.querySelector('#request-btn')
        
        //======================
        //   Définition Modal
        //======================
              
        let btnModal =  document.querySelector('#mail-modal')
        let modal = document.querySelector('.modal--wrapper')
        let btnReturn = document.querySelector('#return')

        
        //======================
        //    Requête HTTP
        //======================
        let ajaxInput = document.querySelector('#ajaxInp')
        ajaxInput.value = ""
        
        async function ajax() {
            try{
                let request = await fetch("http://localhost:8000/admin/ajax", { 
                    method: 'GET', 
                    headers: {'X-Requested-With' : 'XMLHttpRequest'}
                });
                if (!request.status == '200') {
                    alert("Une erreur est survenue " + request.status);
                } else {
                    let data = await request.json();


                    ajaxInput.value ='{{ url('app_register') }}?token='+data
                    
                    lien.setAttribute('href',ajaxInput.value)
                    
                    //récupération de ajaxInput.value dans le champ caché du formulaire
                    linkInput.value = ajaxInput.value
                    //ajout du bouton "envoyer par mail" au click
                    btnModal.style.display = "block"
                }
            } catch (error) {
                console.log(error)
            }
        }

        
        requestBtn.addEventListener('click',ajax)

        //======================
        //    Modal
        //======================
    
        //Ouvrir / Fermer la modal
        btnModal.addEventListener('click', ()=>{
            modal.classList.toggle("modal--wrapper__display") 
            modal.classList.toggle("modal--wrapper__nodisplay")
        })

        btnReturn.addEventListener('click', ()=>{
            modal.classList.toggle("modal--wrapper__display") 
            modal.classList.toggle("modal--wrapper__nodisplay")
        })
    </script>

{% endblock  %}
