{{ form_start(form) }}



    {{ form_row(form.website)}}

    {{ form_row(form.username)}}

    {{ form_row(form.password)}}

    <a href="#" id="showmdp">Voir Mot de passe</a>

<div class="form-checkbox">


    {% for access in form.access %}

    <div>
            {{- form_widget(access) -}}
            {{- form_label(access) -}}
    </div>

    {% endfor %}
</div>



    

    
    <button class="buttonM button--success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
