{{ form_start(form) }}


{{ form_row(form.website)}}

{{ form_row(form.username)}}

{{ form_row(form.password)}}

<a href="#" id="showmdp">Voir Mot de passe</a>

<div class="form-checkbox">


	{% for access in form.access %}

		<div>
			{{- form_widget(access) -}}
			{{- form_label(access) -}}
		</div>

	{% endfor %}
</div>


<div class="btn--row">
	<button class="buttonM button--success">{{ button_label|default('Ajouter') }}</button>
	<button type="button" id="generate" class=" buttonM button--primary">Générer</button>
</div>
{{ form_end(form) }}

<div class="modal--wrapper modal--wrapper__nodisplay ">
	<div class="modal">

		<h1>Générer un mot de passe</h1>
		<div class="form__container">
			<form action="" method="">
				<p id="mdpDisplay">Votre mot de passe sera générer ici</p>

				<div class="lenght--wrapper">
					<label>Nombre de caractères</label>
					<input type="number" id='lenght' placeholder="12">
				</div>

				<div class="checkbox--form">
					<div class="checkbox--wrapper cbw-maj">
						<input type="checkbox" name="" id="maj">
						<label style="pointer-events:none">A-Z</label>
                    </div>
                    <div class="checkbox--wrapper cbw-min">
                        <input type="checkbox" name="" id="min">
                        <label style="pointer-events:none">a-z</label>
                    </div>
                    <div class="checkbox--wrapper cbw-number">
                        <input type="checkbox" name="" id="number">
                        <label style="pointer-events:none">0-9</label>
                    </div>
                    <div class="checkbox--wrapper cbw-char">
                        <input type="checkbox" name="" id="char">
                        <label style="pointer-events:none">%µ£+</label>
                    </div>
                </div>

                <div class="button--container">
                    <button type="button" class="buttonM button--primary" id="getPassword">Générer</button>
                    <button type="button" class="buttonM button--primary" id="validatePassword">Retour</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    let btnGenerate = document.querySelector('#generate')
    let modal = document.querySelector('.modal--wrapper')

    btnGenerate.addEventListener('click', () => {
        modal.classList.toggle("modal--wrapper__display")
        modal.classList.toggle("modal--wrapper__nodisplay")
    })

// ----------------------Générateur----------------------------------


    let checkboxs = document.querySelectorAll('.checkbox--form input[type="checkbox"]')
    let wrappers = document.querySelectorAll('.checkbox--wrapper')
    let getMdp = document.querySelector('#getPassword')
    let validateMdp = document.querySelector('#validatePassword')

    // let maj = document.querySelector('.cbw-maj')
    // let min = document.querySelector('.cbw-min')
    // let number = document.querySelector('.cbw-number')
    // let char = document.querySelector('.cbw-char')

    // let majCheked = maj.children[0].checked
    // let minCheked = min.children[0].checked
    // let numberCheked = number.children[0].checked
    // let charCheked = char.children[0].checked


    const table = {
        maj : ["A","Z","E","R","T","Y","U","I","O","P","Q","S","D","F","G","H","J","K","L","M","W","X","C","V","B","N"],
        min:["a","z","e","r","t","y","u","i","o","p","q","s","d","f","g","h","j","k","l","m","w","x","c","v","b","n"],
        number: ["1","2","3","4","5","6","7","8","9","0"],
        char: ["$","%","^","&","!","@","#",":",";","'",",",".",">","/","*","-",",","|","?","~","_","=","+"],
    }

    let motdepasseLenght = document.querySelector('#lenght')
    let finalTable = []



    wrappers.forEach(wrapper => {
        wrapper.addEventListener("click", (e) => {
            let childInput = document.querySelector("."+ e.target.classList[1] +">input[type='checkbox']")
            if(!childInput.checked){

                childInput.setAttribute("checked", true)
                wrapper.style.transform= "scale(0.7)"
            }
            else{
                childInput.removeAttribute("checked")
                wrapper.style.transform= "scale(1)"
            }
            
        })
    });


    getMdp.addEventListener("click",()=>{
        finalTable = []
        motdepasse = ""
        
        let arrayMotdepasse = []
        checkboxs.forEach(element => {
    

            if (element.checked) {
                
                finalTable = finalTable.concat(table[element.getAttribute("id")])
            }
        });
        for (let index = 0; index < motdepasseLenght.value; index++) {
            arrayMotdepasse.push(finalTable[Math.floor(Math.random() * (finalTable.length))]);
        }
        
        motdepasse = arrayMotdepasse.join('')
        document.querySelector("#mdpDisplay").innerText = motdepasse
        validateMdp.innerText = "Valider"


    })

    validateMdp.addEventListener('click', ()=>{
        
        validateMdp.innerText = "Retour"
        navigator.clipboard.writeText(motdepasse)
        document.querySelector("#mdpDisplay").innerText = ''
        modal.classList.remove("modal--wrapper__display")
        modal.classList.add("modal--wrapper__nodisplay")

        document.querySelector("#motdepasse_password").value = motdepasse
        document.querySelector("#motdepasse_password").setAttribute("type","text")
        setTimeout(() => {
            document.querySelector("#motdepasse_password").setAttribute("type","password")
            
        }, 500);


    })


</script>
