{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de compte{% endblock %}

{% block body %}
            <h1 class="titre titre--48 title--page">Gestionnaire de compte</h1>
       <div class="mdpindex">

{% for motdepasse in motdepasses %}


        <div class="cards">

            
                <div class="card">
                    <div class="card__title">
                        <h2 class="title title--24">{{motdepasse.website}}</h2>
                    </div>
                    <div class="card__info">
                        <p class="texte texte--16">{{motdepasse.username}}</p>
                        <input type="password" readonly value="password">
                    </div>
                    <div class="card__buttonContainer">
                        <a class="buttonM button--primary" href="{{path("app_motdepasse_show",{"id":motdepasse.id})}}">Voir</a> 
                        <a class="buttonM button--primary" href="{{path("app_motdepasse_edit",{"id":motdepasse.id})}}">Modifier</a>
                    </div>
                </div>
            
        </div>
{% endfor %}
</div>

    {# <a href="{{ path('app_motdepasse_new') }}">Create new</a> #}
{% endblock %}
