
{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de compte{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}

<div class="indexMdp">
    <h1 class="titre">Gestionnaire de compte</h1>

    <div class="buttonContainer">
    <a href="{{path("app_user_manage")}}" class="btn btn-navi-neutral">retour</a>
    <a class="btn btn-navi-neutral" href="{{path("app_motdepasse_new")}}">Ajouter</a>
    <button id="accessToggle" class="btn btn-navi-primary">Privé</button>
    </div>

    <div class="mdpindex">


    {# ici je fais une boucle pour afficher les cartes de mot de passe #}
        {% for motdepasse in motdepasses %}
                
            <div class="card" 
            {# ici je fais une boucle pour vérifier si le mot de passe est public ou privé #}
            {% for item in motdepasse.access %}
                
                {{item.acces == "public" ? 'access="true"' : "access=\"false\""}}
            {% endfor %}
            
            >
                <div class="card__title">
                    <h2 class="site">{{motdepasse.website}}</h2>
                </div>
                <div class="card__username">
                    <p class="username">{{motdepasse.username}}</p>
                </div>
                <div class="card__password">
                    <input type="password" readonly value="password">
                </div>
                <div class="card__buttonContainer">
                    <a class="btn btn-card" href="{{path("app_motdepasse_show",{"id":motdepasse.id})}}">Voir</a> 
                    <a class="btn btn-card" href="{{path("app_motdepasse_edit",{"id":motdepasse.id})}}">Modifier</a>
                </div>
            </div>
                
            
        {% endfor %}
    </div>
</div>

{% endif %}

    
{% endblock %}
{% block script %}
    
    <script>
        let accessToggle = document.querySelector('#accessToggle');
        let publicCards = document.querySelectorAll('.card[access="true"]');
        let privateCards = document.querySelectorAll('.card[access="false"]');

        // on cache les cartes privées au chargement de la page
        window.addEventListener("load", ()=>{
                privateCards.forEach(card => {
                    card.style.display = "none";
                })
            });

        accessToggle.addEventListener("click", ()=>{
            if(accessToggle.innerHTML == "Privé"){
                TogglePasswordCard(privateCards, publicCards)
                accessToggle.innerHTML = "Public";
        
            }else{
                TogglePasswordCard(publicCards,privateCards )
                accessToggle.innerHTML = "Privé";
            }
        })







    </script>

{% endblock %}

           