{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}

{% if is_granted("ROLE_ADMIN") %}{% endif %}
<div class="espace-admin">
    <h1 class="titre">Espace Admin</h1>
        <div class="flex-container">
            {#? Voir les logs #}
            <a href="{{path('app_log')}}" class="btn btn-large">log</a>
            {#? Generer un lien d'inscription #}
            <a href="{{path('app_register_check')}}" class="btn btn-large">Inscription</a>
        </div>
        <div class="flex-container">
            {#? Lien vers gestion User  #}
            <a href="{{path('app_user_index')}}" class="btn btn-large">Utilisateurs</a>
            {#? Lien vers tous les mot de passe  #}
            <a href="{{path('app_motdepasse_index',{ 'acces' : "admin"} )}}" class="btn btn-large">Mots de passe</a>
        </div>
            {#? Lien vers user  #}
            <a href="{{path("app_user_manage")}}" class="btn btn-navi-neutral">retour</a>
</div>

{% endblock %}
