           
{% extends 'base.html.twig' %}

{% block title %}Password Manager{% endblock %}
            
    {% block body  %}

{% if is_granted('ROLE_USER') %}

      <div class="manage">
      

      {% for message in app.flashes('note') %}
      <div class="flash-danger">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('Auth_error') %}
      <div class="flash-danger">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('mail_success') %}
      <div class="flash-success">
          {{ message }}
      </div>
      {% endfor %}

        <h1 class="titre" >Accueil Espace Utilisateur</h1>
          
              <p class="texte first-text">
                <span class="texte text-weight">Bienvenue sur KOJI</span>, votre espace utilisateur du gestionnaire de mots de passe !
              </p>

              <p class="texte">
                Ici, vous pouvez créer de manière sécurisée vos nouveaux mots de passe et consulter ceux existants en toute confidentialité.
              </p>
            
          
            <div class="grid" >
              <a class="btn btn-large" href="{{path('app_motdepasse_new')}}">Ajouter un compte</a>
              <a class="btn btn-large" href="{{path('app_motdepasse_index')}}">Voir un mot de passe</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="grid">
            <a class="btn btn-large btnAdmin" href="{{path("app_admin")}}">Espace Admin</a>
            </div>
            {% endif %}
      </div>

      {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
      {% endfor %}
      
  {% endif %}

    {% endblock  %}
