           
{% extends 'base.html.twig' %}

{% block title %}Password Manager{% endblock %}
            
    {% block body  %}

{% if is_granted('ROLE_USER') %}

      <div class="manage">
      

      {% for message in app.flashes('note') %}
      <div class="flash-danger">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('Auth_error') %}
      <div class="flash-danger">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('mail_success') %}
      <div class="flash-success">
          {{ message }}
      </div>
      {% endfor %}

        <h1 class="titre titre--32" >Accueil Espace Utilisateur</h1>
            <div class="text-wrapper">
              <p class="texte">
                <span class="texte text-weight">Bienvenue sur KOJI</span>, votre espace utilisateur du gestionnaire de mots de passe ! 
                <br>
                <br>
                Ici, vous pouvez créer de manière sécurisée vos nouveaux mots de passe et consulter ceux existants en toute confidentialité.
              </p>
            </div>
          
            <div class="grid" >
              <a class="btn btn-large" href="{{path('app_motdepasse_new')}}">Créer un mot de passe</a>
              <a class="btn btn-large" href="{{path('app_motdepasse_index')}}">Voir un mot de passe</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-large" href="{{path("app_admin")}}">Espace admin</a>
            {% endif %}
      </div>

      {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
      {% endfor %}
      
  {% endif %}

    {% endblock  %}
